.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 7rem); /* Subtract header height */
  background-color: #eee;
  padding: 2rem 0;
}

.hero-text {
  width: 50%;
  & > * {
    color: #333;
    margin-bottom: 2rem;
  }
  & > h2 span {
    display: block;
  }
  & .hero-buttons a {
    color: #fff;
  }
}

.hero-image {
  width: 50%;
  text-align: center;
  img {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
    padding: 1rem;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  
  .hero-image {
    width: 100%;
    margin-top: 2rem;
    img {
      width: 100%;
    }
  }
}